html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inria Sans", sans-serif;
}

body {
    background-color: #235b72;
}

.header-logo {
    width: 200px;
}

.header-logo-mobile {
    width: 50px;
}

.btn-color {
    background-color: #235b72;
}

.btn-color:hover {
    opacity: 0.6;
}

.banner-bg-img {
    background-image: url('../images/bg.png');
}

.snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    background: linear-gradient(white, white);
    /* Workaround for Chromium's selective color inversion */
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
}

.section-title {
    color: #235b72;
}

.section-text{
    color: #235b72;
}

.teste {
    background-color: rgb(187,238,244);
    border-radius: 0;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    padding: 16px;
}

/* rgb 35 91 114 */